* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: lightcoral;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: lightcoral;
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
}

.article {
    width: 50%;
    border: 1px solid black;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    width: 33.33%;
    text-align: center;
    border: 1px solid black;
}

.menu-items {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.menu-item {
    margin-left: 30px;
}

.flash-success {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: lightgreen;
    font-size: 20px;
}