{% extends 'front/base.html.twig' %}

{% block main %}
    <article>
        <h1>{{ article.title }}</h1>
        <div>{{ article.content }}</div>
        <p>{{ article.createdAt | date('y-m-d') }}</p>
        <p>Categorie : {{ article.category.title }}</p>
    </article>

{% endblock main %}