{% extends 'front/base.html.twig' %}

{% block metaTitle %}
    Liste des categories
{% endblock metaTitle %}


{% block main %}
    <h1>Il y a {{ categories | length }} categories dans la base de données</h1>
    <div class="categories-container">
        {% for category in categories %}
            <article class="article">
                <h2>{{ category.title | upper }}</h2>
                <a href="{{ path('categoryList', {'id': category.id }) }}">Voir plus</a>
            </article>
        {% endfor %}
    </div>
{% endblock main %}