<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <title>Blog-article-title</title>
</head>
<body>
<header class="header">
    <h1>Welcome in blog list article</h1>
</header>
<main>