<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('stylesheet.css') }}">
    <title>Blog-article-title</title>
</head>
<body>
<header class="header">
    <li><h1>{{ category.title }}</h1></li>

            <h2>{{ category.title | upper }}</h2>
        </a></li>
    <img class="resp" alt="flip" href="{{ asset('flip.png') }}">
    <nav>
        <ul>

            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>
</header>
<main>