{% extends 'base.html.twig' %}
{%  block main %}
    <h1>{{ article.title }}</h1>
    <article class="article">
            <div>{{ article.content }}</div>
            <p>{{ article.createdAt | date('y-m-d') }}</p>
    </article>
{%  endblock main %}