{% extends 'base.html.twig' %}
{%  block main %}
    <article>
        <h1>{{ category.title }}</h1>
        <div>{{ category.content }}</div>
        <p>{{ category.createdAt | date('y-m-d') }}</p>
        </h1>
    </article>
{%  endblock main %}