{% extends 'base.html.twig' %}

{% block metaTitle %}
    Category List
{% endblock metaTitle %}


{% block main %}
    <h1>There is  {{ category | length }} Categories in my beautiful DATABASE</h1>
    <div class="articles-container">
        {% for category in categories %}
            {% if category.isPublished %}
        <a href={{ path('categoriesShow', {'id': category.id}) }}>
                <article class="article">
                    <h2>{{ category.title | upper }}</h2>
                    <p>{{ category.content }}</p>
                </article>
            {% endif %}
        {% endfor %}
    </div>
{% endblock main %}