{% extends 'base.html.twig' %}

{% block main %}
    <h1>{{ tag.title }}</h1>
    <article class="tag">
        <p style="background-color: {{ tag.color }}">{{ tag.title }}</p>
    </article>
{% endblock %}
